body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16% 14%;
    margin: 0;    
}
@media only screen and (max-width: 768px) {
    body {     
    font-family: Arial;
    font-size: 16% 14%;
    margin: 0; 
    }

    h1 {
        font-size: 16% 14%
    }
}

h1 {
    text-transform: uppercase;
    padding-left: 10px;
}
a {
    text-decoration: none;
    color: white;
} 

button header {
    font-size: 16px 14px;
    color: black;
}


.containerheader {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    padding: 10px 20px;
}

.logoheader img {
    width: 32%;
    padding: 20px;
}

.searchbar {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.searchbar input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.iconsheader {
    margin-left: auto;
}

.iconsheader i{
    display: inline-block;
    color: #0A3641;
    margin-left: auto;
}


@media screen and (max-width: 768px) {
    .containerheader {
      padding: 10px;
    }
}
 header nav {
    background-color: #0A3641;
    display: flex;
    justify-content: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header li {
    margin: 0 50px;
}

header a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    header nav {
      flex-direction: column;
      align-items: center;
    }
    
    header li {
      margin: 10px 0;
    }
  }

  .containermain {
    max-width: 768px;
  }


.text-main {
    padding-left: 10px;
}

#contact-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .button-main[type="submit"] {
    background-color: #0A3641;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button main[type="submit"]:hover {
    background-color: #0A3641;
  }
  
  @media only screen and (max-width: 600px) {
    #contact-form {
      padding: 10px;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      margin-bottom: 5px;
    }
  
    .button-main[type="submit"] {
        width: 50%;
        margin-bottom: 10px;
        align-content: center;
    }
  }


footer {
    background-color: #0A3641;
}

.navfooter {
    display: flex;
    justify-content: right;
    color: white;

}
.logofooter img {
    width: 16%;
    display: flex;
}