body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16% 14%;
    margin: 0;    
}
@media only screen and (max-width: 568px) {
    body {     
    font-family: Arial;
    font-size: 14px;
    margin: 0; 
    }
}
    
footer {
    background-color: #0A3641;
}

p {
    text-transform: uppercase;
    max-width: 575px;
}
h1 {
    text-transform: uppercase;
    padding-left: 10px;
}
a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 16%;
    padding: 20px;
}

.iconsheader {
    color: #0A3641;

    
}
.navbar {
    background-color: #0A3641;
    text-decoration: none;
    height: 50px;
}

.navitem1 {
    display: inline-block;
    color: white;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navfooter {
    display: flex;
    justify-content: right;
    color: white;

}
.logofooter {
    width: 16%;
    display: flex;
}